{% extends "base.html" %}
{% block title %}
Invitation from {{ invitation.from_user.username }}
{% endblock title %}

{% block content %}
	<div class= "well col-sd-6">
		<p>User {{ invitation.from_user }} invites you to a game.</p>

		{% if invitation.message %}
			<p>He/she included the following message:</p>

			<blockquote> <p> {{ invitation.message }} </p></blockquote>
		{% endif %}

		<form action="" method= "post">
			{% csrf_token %}
			<button type="submit" name="accept" value="ok">Accept</button>
			<button type="submit" name="deny" value="no">Deny</button>
		</form> 
	</div>
{% endblock content %}